@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.homepage {
  background-color: red;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr auto;
  grid-template-columns: max-content 1fr;
  grid-template-areas: "head head" "side main" "foot foot"; }

.sidebar {
  background-color: #c69963;
  grid-area: side;
  padding-left: 2rem;
  box-sizing: border-box;
  position: relative; }

.navigation__list {
  list-style-type: none; }

.navigation__item {
  margin: 1.5rem 0;
  width: 20rem; }
  .navigation__item:hover, .navigation__item:active, .navigation__item:focus {
    cursor: pointer;
    background-color: #b28451; }
    .navigation__item:hover .navigation__item--collapse, .navigation__item:active .navigation__item--collapse, .navigation__item:focus .navigation__item--collapse {
      visibility: visible;
      opacity: 1;
      width: 17rem; }

.navigation__icon {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  fill: #f9f7f6;
  vertical-align: middle;
  padding-right: .5rem; }

.navigation__text {
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 1.4rem;
  font-weight: 400;
  width: 100%;
  color: #f9f7f6; }

.navigation__item--collapse {
  width: 0;
  list-style-type: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #b38653;
  z-index: 10;
  padding: .5rem 1rem;
  visibility: hidden;
  opacity: 0;
  transition: width .3s ease; }
  .navigation__item--collapse > li {
    padding-left: 1.5rem; }
    .navigation__item--collapse > li:nth-child(1) {
      padding-top: 1.2rem; }
    .navigation__item--collapse > li:not(:nth-child(1)) {
      padding-top: 2.2rem; }

.header {
  background-color: #B28451;
  grid-area: head;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.search__container {
  width: 4rem;
  height: 3rem;
  border: 1px solid white;
  border-radius: 2.5rem;
  cursor: pointer;
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center; }

.search__box {
  background-color: transparent;
  height: 100%;
  display: none;
  margin-left: .2rem;
  flex: 1;
  border: none;
  outline: none; }

.search__input {
  color: black;
  background-color: transparent;
  font-weight: 400;
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  border: none;
  outline: none; }

.search__icon {
  width: 2.6rem;
  height: 2.6rem;
  color: #07051a; }

.search__container:hover {
  width: 30rem; }
  .search__container:hover .search__box {
    display: inline-block; }

.context {
  width: 100%;
  height: 100%;
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #54483A;
  position: relative; }

.content__container {
  background-color: #f9f7f6;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 25%;
  padding: 3rem 5rem;
  text-align: center; }

.content__image {
  display: inline-block;
  width: 90%; }

.content__heading {
  font-family: "sans-serif";
  font-weight: 800;
  text-transform: capitalize; }

.content__description {
  font-family: "sans-serif";
  font-weight: 400;
  text-align: left; }

.footer {
  background-color: #B28451;
  grid-area: foot;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.contact__container {
  margin-left: 30rem; }
  .contact__container .contact {
    text-align: center;
    color: #f9f7f6;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: sans-serif; }
  .contact__container ul {
    color: #f9f7f6;
    list-style-type: none;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: sans-serif;
    text-transform: lowercase; }

.context > section {
  width: 75%;
  height: 45%;
  margin-left: 25rem; }

.carousel {
  width: 100%;
  height: 100%;
  position: relative; }
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%; }
  .carousel__slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms; }
    .carousel__slide > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
    .carousel__slide[data-active] {
      opacity: 1;
      z-index: 1;
      transition-delay: 0ms; }
  .carousel__button {
    position: absolute;
    z-index: 2;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background: rgba(0, 0, 0, 0.1) none; }
    .carousel__button:hover, .carousel__button:focus {
      color: white;
      background-color: rgba(0, 0, 0, 0.2); }
    .carousel__button:focus {
      outline: 1px solid black; }
    .carousel__button.carousel__button--prev {
      left: 1rem; }
    .carousel__button.carousel__button--next {
      right: 1rem; }

.logo__container {
  width: fit-content;
  height: fit-content;
  padding: 1.2rem 0;
  position: relative; }

.logo__icon {
  aspect-ratio: 1;
  width: 5rem;
  object-fit: cover;
  object-position: center; }

.logo__text {
  font-size: 1.6rem;
  font-family: sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  top: 35%;
  left: 100%;
  color: #f9f7f6; }

.recommendation__title {
  color: white;
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center; }

.recommendation__container {
  font-family: sans-serif;
  display: flex;
  width: 100%;
  column-gap: 1rem;
  transition: all .2s; }

.recommendation__book {
  width: fit-content;
  height: fit-content;
  position: relative; }
  .recommendation__book:hover {
    cursor: pointer;
    transform: translateY(-1rem); }
    .recommendation__book:hover .cart__icon {
      display: block; }

.cart__icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  fill: #B2D210FF;
  display: none; }

.book__img {
  width: 15rem;
  height: 20rem;
  border-radius: 3px; }

.book__title {
  color: white;
  text-align: center; }

.book__authors {
  color: white;
  text-align: center; }

.book__rating {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: 1.5rem;
  font-family: Times, sans-serif;
  line-height: 1;
  transform: translateX(45%); }
  .book__rating::before {
    content: '★★★★★';
    letter-spacing: 1px;
    background: linear-gradient(90deg, #fc0 var(--percent), #fff var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.expand_button__container {
  margin-top: 2rem;
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  transition: scale .3s; }
  .expand_button__container .expand_button {
    width: fit-content;
    height: fit-content;
    background-color: #c69963;
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 20rem;
    padding: 1.3rem 1.8rem;
    border: none;
    box-shadow: 6px 4px 5px #6D5D4B; }
  .expand_button__container:hover {
    cursor: pointer;
    transform: scaleX(1.1) scaleY(1.2); }

.header__actions {
  display: flex; }
  .header__actions .btn__signup {
    margin-left: 2rem;
    padding: 1rem 1.5rem;
    transform: translateY(-0.3rem);
    border-radius: 30%;
    outline: none;
    border: none; }

.signup__form {
  display: none;
  z-index: 1000;
  background-color: #b28451;
  width: 70vw;
  height: 70vh;
  position: absolute;
  top: 15vh;
  left: 15vw;
  opacity: .9;
  border: 1px solid #b0824e;
  box-shadow: 1rem 1rem 3rem #6D5D4B; }
  .signup__form form {
    padding: 9rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    font-size: 1.8rem; }
    .signup__form form div:not(:first-child) {
      padding-top: 4rem; }
    .signup__form form button {
      margin-top: 2rem;
      padding: 1rem 2rem;
      font-family: sans-serif;
      width: fit-content;
      height: fit-content;
      background-color: #8090f2;
      color: white;
      font-size: 1.8rem;
      font-weight: 500;
      border-radius: 20rem;
      padding: 1.3rem 3rem;
      border: none;
      box-shadow: 6px 4px 5px #6D5D4B; }
    .signup__form form button:hover {
      transform: scaleX(1.1) scaleY(1.2); }

.form__text {
  display: block;
  font-weight: 500;
  font-size: 1.8rem;
  color: black;
  margin-bottom: 1rem; }

.form__input {
  padding: 2px 3.5px;
  border-radius: 10px;
  box-shadow: 7px 3px 10px #54483A;
  outline: none;
  border: none;
  height: 3.3rem;
  width: 25rem; }

.signup__close {
  position: absolute;
  top: 3rem;
  right: 5rem;
  height: fit-content;
  aspect-ratio: 1;
  border-radius: 10px;
  border: none; }
  .signup__close--btn {
    width: 3rem;
    height: 3rem; }

.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #6D5D4B;
  opacity: .9;
  filter: blur(10rem);
  z-index: 500;
  display: none; }
