*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.u-center-text {
  text-align: center !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-laarge {
  margin-top: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-laarge {
  margin-bottom: 8rem !important; }

.main-container {
  display: flex; }

.main {
  background-color: orangered;
  flex: 1; }

.navigation-sidebar {
  background-color: #333;
  flex: 0 0 18%; }
