.expand_button {
  padding: 1rem 1.5rem;
  margin-top: 2rem;
  background-color: $color-primary;
  color: white;
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 5%;
  left: 45%;
  border-radius: 20rem;
  font-size: 1.6rem;
  font-weight: 500;
  transition: scale .3s;

  &:hover {
    cursor: pointer;
    transform: scaleX(1.1) scaleY(1.2);
  }
}