$width: 28rem;
$width-compressed: 5.2rem;
$color-dark: #1E2027;

.sidebar-navigation {
    position: fixed;
    width: $width;
    height: 100%;
    background-color: $color-dark;

    .side-nav {
        list-style-type: none;
        margin: 64px 0;
        padding: 0;
        color: #fff;

        &__li {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            font-weight: 600;
        }

        & > li {
            padding: 16px $width-compressed;

            .side-nav__icon {
                position: absolute;
                left: 12px;
                color: lighten($color-dark, 16);
            }

            &:hover, &:active, &:focus {
                .hidden {
                    width: $width - $width-compressed;
                }
                background-color: lighten($color-dark, 5);
                cursor: pointer;
            }
        }
    }
}

.hidden {
    width: 0;
    height: 100%;
    padding: 64px 0;

    position: absolute;
    top: 0;
    right: 0;

    overflow: hidden;

    list-style-type: none;
    background-color: lighten($color-dark, 5);
    transition: all .3s;

    li {
        padding: 16px 24px;
        &:hover, &:active, &:focus {
            background-color: lighten($color-dark, 9);
        }
    }
}

.side-nav__icon {
    height: 1.8rem;
    width: 1.8rem;
    fill: white;
}
