// COLORS
$color-navy-dark: #16213E;
$color-blue-dark: #0F3460;
$color-purple-dark: #533483;
$color-pink-dark: #E94560;

$color-primary: #16213E;
$color-secondary: #0F3460;
$color-tertiary: #E94560;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;


// FONT SIZES
$default-font-size: 1.6rem;
